html{
    font-size: 100px; height: 100%;
}
body{width:7.5rem; height: 100%; background-color: #ffffff;  max-width: 600px; margin: 0 auto;}
*{box-sizing: border-box; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;outline:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
label,input,select {vertical-align:middle;}
address,cite,em {font-style:normal;}
img{border:none;}
ul,ol {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
sub {vertical-align:text-bottom;}
sup {position:relative;top:-1px;left:2px;font:11px/normal tahoma;vertical-align:text-top;}
small {font-size:12px;}
legend {color:#333;}
a{ outline:none;text-decoration:none; color: #222222;}
em, i{font-style: normal;}
b, strong{font-weight: normal;}
/*清除浮动*/
.clearfix:before,.clearfix:after{content:"."; display:block; visibility:hidden; height:0; line-height:0; font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
/*加载样式*/
.leo_load_icon {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 19860731;
    width: 100%;
    height: 100%;
}

.leo_load_icon>div {
    width: 70px;
    height: 70px;
    background-color: #fdfdfd;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
}
.leo_load_icon>div>div {
    width: 100%;
    height: 100%;
    background: url(../images/leo_load_icon/timg.gif) center center no-repeat;
    background-size: 35px 35px;
}
/*图片预览*/
.mui-preview-image.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}
.mui-preview-header,
.mui-preview-footer {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
}
.mui-preview-header {
    height: 44px;
    top: 0;
}
.mui-preview-footer {
    height: 50px;
    bottom: 0px;
}
.mui-preview-header .mui-preview-indicator {
    display: block;
    line-height: 25px;
    color: #fff;
    text-align: center;
    margin: 15px auto 4;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 16px;
}
.mui-preview-image {
    display: none;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.mui-preview-image.mui-preview-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.mui-preview-image.mui-preview-out {
    background: none;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
    display: none;
}
.mui-zoom-scroller {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-backface-visibility: hidden;
}
.mui-zoom {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.mui-slider .mui-slider-group .mui-slider-item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
    display: inline-table;
}
.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
    display: table-cell;
    vertical-align: middle;
}
.mui-preview-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.mui-preview-loading.mui-active {
    display: block;
}
.mui-preview-loading .mui-spinner-white {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
}
.mui-preview-image img.mui-transitioning {
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*返回头*/
.title_header{width:100%; height:0.88rem; background-color: #F9F9F9; color: #4A4A4A; position: fixed; top:0; z-index: 2; max-width: 600px;border-bottom: 1px solid #C2C2C2;}
.title_header .back{width:0.16rem; height:0.38rem; background: url(/app/statics/images/back.svg) no-repeat; background-size: cover; -webkit-background-size: cover; padding: 0.24rem 0 0.2rem 0.3rem;background-origin: content-box; box-sizing: content-box;}
.title_header h2{margin: 0.28rem 0 0 0.16rem; font-weight:500; width:6.3rem; text-align: center; font-size: 0.36rem;width:5rem; margin-left: 0.8rem;}
.title_header span{margin: 0.24rem 0.3rem 0 0;}
.title_header a{display: inline-block; padding: 0.1rem 0.3rem 0 0; color: #4A4A4A; font-size: 12px;text-align: center;float: right;}
.title_header a img{width: 0.4rem;}
.title_header a p{font-size: 0.2rem;color: #4A4A4A;margin-top: -0.2rem;margin-bottom: 0px;}
.title_header a .pay_info{margin-top: 0.17rem;}
.title_header i{color:#4A4A4A;}
.title_header span{font-size: 0.2rem;color: #4A4A4A;}
/*预订页面*/
.content{padding-top: 0.88rem;padding-bottom: 45px;}
.content .person_info{width:  6.58rem;height: 95px;border-bottom: 1px solid #D3D3D3;margin: 0 auto;}
.content .person_info .avatar{width: 58px;height: 58px;border-radius: 50%;overflow: hidden;margin-top: 18px;float: left;}
.content .person_info .avatar img{width: 100%;height: 100%;}
.content .person_info .text_info{width: calc(6.58rem - 58px);height: 95px;float: right;}
.content .person_info .text_info p{overflow: hidden;color: #4A4A4A;font-size: 0.25rem;font-weight: bold;}
.content .person_info .text_info p span:nth-child(1){float: left;margin-left: 0.4rem;}
.content .person_info .text_info p span:nth-child(2){float: right;}
.content .person_info .text_info p:nth-child(1) span:nth-child(1){font-size: 0.3rem;}
.content .person_info .text_info p:nth-child(2) span:nth-child(1){color: #666;font-weight: initial;}
.content .person_info .text_info p:nth-child(1){margin-top: 25px;}
.content .person_info .text_info p:nth-child(2){margin-top: 5px;}
.content .person_info .text_info p:nth-child(2) span:nth-child(2) img{width: 0.23rem;vertical-align: text-top;}
.content .add_service{width:  6.58rem;height: 83px;border-bottom: 1px solid #D3D3D3;margin: 0 auto;overflow: hidden;}
.content .add_service .add_service_btn{text-align: center; margin-top: 24px; width:  6.58rem;height: 34px;border: 1px solid #7AC4D1;border-radius: 18px;}
.content .add_service .add_service_btn img{width: 26px;}
.content .add_service .add_service_btn span{font-size: 17px;display: inline-block;vertical-align:-webkit-baseline-middle;color: #7AC4D1;}
.content .cost_sum{width:  6.58rem;border-bottom: 1px solid #D3D3D3;margin: 0 auto;}
.content .cost_sum p{font-size: 0.25rem;color: #999;overflow: hidden;margin-top: 15px;}
.content .cost_sum p:last-child{margin-bottom: 15px;}
.content .cost_sum p span:nth-child(1){float: left;}
.content .cost_sum p span:nth-child(2){float: right;}
.content .cost_sum p span i{font-size: 0.37rem;color: #000;}
.content .remarks{width:  6.58rem;border-bottom: 1px solid #D3D3D3;margin: 0 auto;}
.content .remarks .title{font-size: 0.3rem;color: #4A4A4A;line-height: 65px;}
.content .remarks textarea{color: #4A4A4A;margin-bottom: 20px; font-size: 0.25rem;height: 105px;background-color: #F6F6F6;padding: 0.2rem;border: 1px solid #D3D3D3;}
.content .remarks textarea:focus{background-color: #fff;border: 1px solid #7AC4D1;}
.content .unsubscribe{width:  6.58rem;margin: 0 auto;overflow: hidden;}
.content .unsubscribe .title{font-size: 0.3rem;color: #4A4A4A;line-height: 65px;overflow: hidden;margin-bottom: 0px;}
.content .unsubscribe .title span:nth-child(1){float: left;}
.content .unsubscribe .title span:nth-child(2){float: right;}
.content .unsubscribe p{font-size: 0.25rem;color: #4A4A4A;margin-bottom: 10px;}
.content .next_btn{position: fixed;bottom: 0px;width: 100%;height: 45px;line-height: 45px;text-align: center;background-color: #7AC4D1;color: #fff;font-size: 17px;}

/*预订前说明页*/
.content .booking_before{width:  6.58rem;margin: 0 auto;overflow: hidden;}
.content .booking_before .title{font-size: 0.4rem;color: #4A4A4A;line-height: 65px;overflow: hidden;margin-bottom: 0px;margin-top: 20px;}
.content .booking_before p{font-size: 0.25rem;color: #999;margin-bottom: 10px;}
.content .booking_before p span{color: #4A4A4A;}
.content .booking_before_btn{width:  6.9rem;margin: 6rem auto 0;}
.content .booking_before_btn input{text-align: center; width:  6.9rem;height: 45px;background-color: #7AC4D1;color: #fff;font-size: 17px;border: none;border-radius: 4px;bottom:10px;}
.content .booking_before_btn p{font-size: 0.25rem;color: #999;text-align: center;margin-top: 5px;}
.content .booking_before_btn p span{color:#7AC4D1;}

/*添加服务类型页*/
.content .add_service_title{line-height: 57px;color: #4A4A4A;font-size: 0.36rem;text-indent: 0.46rem;font-weight: 500;}
.content .add_service_info{background-color: #fff;width: 100%;}
.content .add_service_info li{width: 100%;height: 80px;border-bottom: 1px solid #D3D3D3;overflow: hidden;}
.content .add_service_info li p{text-indent: 0.3rem;font-size:0.36rem;margin-top: 15px;color: #999;float: left;width: 80%;}
.content .add_service_info li .pay_description{text-decoration:underline;font-size:0.3rem;color:#7AC4D1;margin-top: 7px;}
.content .add_service_info li img{width: 20px;float: right;margin-top: -6px;margin-right: 0.3rem;}
.content .add_service_info li:last-child{border-bottom: none;}

/*徒步向导服务页*/
.content .onfoot_time_titlt{width: 100%;height: 67px;background-color: #ffffff;margin-top: 10px;}
.content .onfoot_time_titlt div{width: 6.9rem;height: 67px;line-height: 67px;margin: 0 auto;border-bottom: 1px solid #D3D3D3;color: #4A4A4A;font-size: 0.36rem;text-indent: 0.16rem;font-weight: 500;}
.content .onfoot_time_chose{width: 100%;height: 67px;background-color: #ffffff;overflow: hidden;}
.content .onfoot_time_chose ul{width: 6.9rem;height: 51px;margin: 8px auto;overflow: hidden;}
.content .onfoot_time_chose ul li{overflow: hidden;float: left; width: 50%;height: 51px; text-align: center;color:#7AC4D1;border-right: 1px solid #D3D3D3;}
.content .onfoot_time_chose ul li:nth-child(2){width:48%;border-right: none;}
.content .onfoot_time_chose ul li:nth-child(1){padding-right: 2%;}
.content .onfoot_time_chose ul li p:nth-child(1){line-height: 51px;}
.content .onfoot_time_chose ul li p:nth-child(2){margin-top: 1px;color: #999;}
.content .person_chose{width: 100%;height: 67px;background-color: #ffffff;margin-top: 10px;}
.content .person_chose .tit{width: 6.9rem;height: 67px;line-height: 67px;margin: 0 auto;border-bottom: 1px solid #D3D3D3;color: #4A4A4A;font-size: 0.36rem;text-indent: 0.16rem;font-weight: 500;}
.content .person_chose .tit .person_quantity{float: right;margin-top: 15px;}
.content .person_chose .tit .person_quantity img{width: 30px;float: left;margin-top: 4px;}
.content .person_chose .tit .person_quantity .subtract_white{display: none;}
.content .person_chose .tit .person_quantity .subtract{display: none;}
.content .person_chose .tit .person_quantity div{text-align: center;line-height: 38px; width: 38px;height: 38px;border-radius: 50%;border: 1px solid #7AC4D1;float: left;margin: 0 15px;}
.content .person_chose .tit .person_quantity div span{margin-right: 8px;}
.foot_next_btn[type=button]{width: 100%;height: 45px;position: fixed;bottom: 0px;background-color:#7AC4D1;color: #fff;font-size: 17px;border: none;border-radius: initial;}


/*微信支付页*/
.content .pay_sum{margin-top: 2rem;}
.content .pay_sum div span{color: #000000;}
.content .wechat_pay_btn{width: 6.9rem;height: 83px;margin: 0 auto;overflow: hidden;}
.content .wechat_pay_btn .add_service_btn{text-align: center; margin-top: 24px; width:  6.9rem;height: 45px;border-radius: 4px;background-color: #7AC4D1;color: #fff;}
.content .wechat_pay_btn .add_service_btn img{width: 26px;margin-top: 10px;}
.content .wechat_pay_btn .add_service_btn span{margin-top: 10px; font-size: 17px;display: inline-block;vertical-align:-webkit-baseline-middle;color: #fff;}

/*信息弹框样式*/
.iframe{display: none;width: 6.58rem;height: 6rem;overflow: hidden;padding: 10px;}
.iframe p.title{text-align: center;font-size: 0.35rem;text-indent: 0rem;}
.iframe p{font-size: 0.25rem;text-indent: 0.5rem;margin-top: 5px;}
 




/*替代行间样式*/
.colorlan{color: #7AC4D1!important;}
.bghui{background-color: #F9F9F9;}
.borbottnone{border-bottom: none!important;}
.mar016{margin-right: 0.16rem;}
.fontsize05{font-size: 0.5rem;}
.oneperson_oneday{display: none;}
