@(order:Order)
    @views.html.pop.loginPop.render();

@views.html.headerfooter{
    @if(session().get("userType") == null){
        <script>
                $(".shade").css("display","block");
        </script>
    }
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="format-detection" content="telephone=no,email=no" />
        <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
        <title>支付中心</title>
        <link href="/app/statics/css/mui.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/app/statics/css/datepicker.css">
        <link rel="stylesheet" href="/app/statics/css/order.css" />
		<link rel="stylesheet" href="/app/statics/css/order-m.css" />
		<script src="/app/statics/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="/app/statics/js/mui.min.js"></script>
        <script src="/app/statics/js/common.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="/app/statics/js/zepto.min.js"></script>
        <script type="text/javascript" src="/app/statics/js/datepicker.js"></script>
        <script type="text/javascript" src="/app/statics/js/qrcode.js"></script>
    </head>
    
        <header class="title_header clearfix">
            <div class="back fl"></div>
            <h2 class="fl">预定</h2>
            <a href="tel:400-820-8820">
                <img src="/app/statics/images/customer_service.svg" />
                <p>客服</p>
            </a>
        </header>
            <!--内容部分开始-->
        <div class="content">
            <div class="onfoot_time_titlt pay_sum">
                <div>
                    <span class="fl">待支付</span>
                    <span class="fr mar016">RMB&nbsp;<span class="fontsize05 the_last_price">@(order.total_price+order.platform_fee)</span></span>
                </div>
				<div class="bar_label">
<!--	  					<sapn id="" class="fl">扫码完成 --
  --支付</span> -->
                </div>
            </div>
                <!--添加服务类型开始-->
            <div class="wechat_pay_btn">
                <div class="add_service_btn" onclick="pay_submit()">
                    <img src="/app/statics/images/wechat.svg" align="middle"/>
                    <span>微信支付</span>
                </div>
            </div>

			<div  class="mask ">
			  <div class="onfoot_time_titlt">
				<div>
				<sapn id="" class="fl">扫码完成支付</span>
                </div>

               <div id="pay-qrcode">
			   </div>
            </div>
        </div>
        <!--内容部分结束-->



        <script type="text/javascript">
		  function pay_submit() {
                var _post_data = new Object();
                _post_data.orderId = '@Html(order.id)';
                $.ajax({
                    url: "/pay/submitPayWx",
                    dataType: "json",
                    data: _post_data,
                    type: "POST",
                    success: function (data) {
                        if (data.client_type == "mobile") {
                            location.href = data.mweb_url;
                        }else if (data.client_type == "pc"){

		  
		                        var pay_qrcode = new QRCode(document.getElementById('pay-qrcode'), {
                                text: data.code_url,
                                colorDark : '#000000',
                                colorLight : '#ffffff',
                                correctLevel : QRCode.CorrectLevel.H
                            });
                            showMask();
                        }
                    }
                });
            }
		  
//获取最后的总价
/*function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
}		  
		  var price = getQueryString('sum_price');
		  $(".the_last_price").html(price);*/


		  function showMask(){
		        $(".wechat_pay_btn").remove();
                $(".mask").show();
            }
        </script>

</html>
}
