<link rel="stylesheet" href="/app/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/app/statics/css/shade.css">
<link rel="stylesheet" href="/app/statics/css/pop.css">

	
<div class="shade">
  <div class="mid">
	<div class="">
	<img id="img-icon" src="/app/statics/images/favicon.ico">
	</div>
	
    <div class="row ">
      <p><input type="text" class="form-control" placeholder="邮箱" name="email"></p>
	  <p><input type="text" class="form-control" placeholder="密码" name="password"></p>
    </div>

	<div class="row ">
      <p><button type="submit" class="btn btn-info btn-lg btn-block" id="user_login">登录</button></p>
	</div>
  </div>	
</div>
