@(msg:String)
<link rel="stylesheet" href="/app/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/app/statics/css/shade.css">
<link rel="stylesheet" href="/app/statics/css/pop.css">
<script type="text/javascript" src="/app/statics/js/jquery-1.8.3.min.js" ></script>

<div class="shade" style="display:inline;">
  <div class="mid">
	<div class="">
	<img id="img-icon" src="/app/statics/images/favicon.ico">
	</div>
	
    <div class="row ">
      <p>@msg</p>
    </div>
	
	<div class="row ">
      <p><a type="submit" id="_register" class="btn btn-info btn-30" href="/register" >@Messages("注册")</a>
		<button type="submit" id="_con" class="btn btn-info btn-30" >@Messages("关闭")</button></p>
	</div>
  </div>	
</div>

<script type="text/javascript">

  $("#_con").click(function(){
      $(".shade").hide();
  });    
</script>
