<link rel="stylesheet" href="/app/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/app/statics/css/shade.css">
<link rel="stylesheet" href="/app/statics/css/pop.css">


<div class="shade">
  <div class="mid">
	<div class="">
	<img id="img-icon" src="/app/statics/images/favicon.ico">
	</div>
	
    <div class="row">
      <p><input type="text" class="form-control"      placeholder="@Messages("refer_email")" name="email"></p>
    </div>
	
	<div class="row">
      <p><a type="submit" id="_send" class="btn btn-info btn-block" href="" >@Messages("发送")</a></p>
	</div>
  </div>	
</div>

@*
<style>
#img-icon{
	position:relative;
	left:-20px;
	top:-20px;
	width:40px;
	height:40px;
}

.mid{
	background:white; margin:20px 20px 20px 20px;
    padding: 0 40px 20px 40px;
	position:fixed;
	top:25%;
	left:33%;
	width:33%;
	z-index:1024;
}

.shade{
display:none;
}

</style>
*@
