@(user: AUser)
@headerfooter {
    <link rel="stylesheet" type="text/css" href="/app/statics/css/applys/style.css">
	
	<div class="container">
	    <div class="content">
		    
		<div class="applys clearfix">
		<div class="l">
		<ul class="fix_left">
		<!--<li><a href="/site/applysStep" class="font5 applys_back">返回</a></li>-->
		    <li><a href="/registerguider" class="font5">个人信息<span></span></a></li>
		    <li><a href="/site/applysPic" class="font5">个人照片<span></span></a></li>
		    <li><a href="/site/applysService" class="font5">自我介绍<span></span></a></li>
		    <li><a href="/site/setApplyPrice" class="font5 action">服务价格<span></span></a></li>
		</ul>
		    </div>
		
            <div class="r" style="background: #fff;">
                <div class="col-md-12 intr_box" >
                    <div class="applys_name"><span>徒步导游价格／天</span></div>
                    <input type="text" class="form-control" id="guider_price" style="width: 228px;" placeholder="¥" value="@Html(user.guider_price)">
                    <div class="applys_name"><span>带车导游价格／天</span></div>
                    <input type="text" class="form-control" id="guiderdrive_price" style="width: 228px;" placeholder="¥" value="@Html(user.guiderdrive_price)">
                    <div class="applys_name"><span>接送机价格／次</span></div>
                    <input type="text" class="form-control" id="guiderpickup_price" style="width: 228px;" placeholder="¥" value="@Html(user.guiderpickup_price)">
		            <p class=" serv_p">
					  <a href="/site/applysService" class="pre"><i></i>上一步</a>
					  <button class="" type="submit" onclick="doSubmit()" style="">下一步</button>
					</p>
				</div>

            </div>
		</div>
        </div>
    </div>


    <script>
        function doSubmit() {
            var data = new Object();
            data.guider_price = $("#guider_price").val();
            data.driver_price = $("#guiderdrive_price").val();
            data.pickup_price = $("#guiderpickup_price").val();
            $.ajax({
                url: '/applys/applyPrice',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    if (result.code == 1000){
                        alert("设置成功!");
                        location.href="/";
                    }
                }
            });
        }
    </script>
}
