@headerfooter{
    <!-- 主题 -->
    <link rel="stylesheet" href="/app/statics/css/computer.css">
    <link rel="stylesheet" href="/app/statics/css/bootstrap-datetimepicker.min.css">
        <!-- 主题部分 -->
        <!--<div class="travel-bg"></div>-->
    <div class="main-white">
        <form action="#" id="intent-form">
            <div class="container travel-main">
                    <!--<h4>定制旅行</h4>-->
                <p class="text-center travel-title travel-h">告诉我们您的旅行计划</p>
                <p class="travel-detail">走走旅游的中文向导覆盖全球20多个国家200多座城市，我们将整合平台所拥有的优质向导资源，为您打造最独一无二的旅行体验！</p>
                <div class="row">
                    <div class="col-sm-2 col-xs-12"><p class="travel-h">出行日期</p></div>
                    <div class="col-sm-10 col-xs-12">
                        <div class="order-time1 travel-time">
                            <input type="text" style="padding:0;"  required="required"  class="form-control theme_input" autocomplete="off" name="start" id="demand-start" placeholder="开始日期" readonly>
                            <input type="text" style="padding:0;"  required="required"  class="form-control theme_input" autocomplete="off" name="end" id="demand-end" placeholder="结束日期" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-xs-12"><p class="travel-h travel-city">出行目的地</p></div>
                    <div class="col-sm-10 col-xs-12 city-section1">
                        <span class="city-name">
                            <input type="text"  required="required" name="area[]"  class="form-control add-city text-overflow" placeholder="输入您想去的地方">
                            <i class="order-delt"></i>
                        </span>
                        <sapn class="add-btn"><i></i><span class="text-color2"></span></sapn>
                    </div>
                </div>
                <div class="row person-section">
                    <div class="col-sm-6">
                        <label class="mony-person">出行人数</label>
                        <div class="order-time1 person-main">
                            <span class="order-min"></span>
                            <input type="text" required="required" name="person"  placeholder="0" id="person-num">
                            <span class="order-add"></span>
                        </div>
                        <label class="person-single">人</label>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="car_radio" >
                                    <label>
                                        <i></i>
                                        <input type="text"  name="car">
                                        我需要用车
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="car_radio">
                                    <label>
                                        <i></i>
                                        <input type="text" name="pick">
                                        我需要接送机
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-color2 order-remarks">告诉我们更多信息，以便我们更好地为您安排行程，例如：您的出行目的、对向导的要求（性别、职业等）、初步的行程安排或者其他要求。</p>
                <div class="remarks-text">
                    <textarea name="content" id="content" maxlength="500" placeholder="在这儿详细描述您的需求吧"></textarea>
                    <span>您还可以输入500字</span>
                </div>
                <button class="main-bg submit-btn text-center text-color5">保存并提交</button>
            </div>
        </form>
    </div>
    <div class="main-line"></div>
        <!-- 主题部分 -->
    <script src="/app/statics/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/app/statics/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script>
            $(document).ready(function() {
                var time = new Date(), m = time.getMonth() + 1;
                var t = time.getFullYear() + "-" + m + "-"+ time.getDate();
                //定制行程接送机点击效果
                $('.car_radio label').toggle(function() {
                    $(this).addClass('current');
                    $(this).find('input').val('1');
                }, function() {
                    $(this).removeClass('current');
                    $(this).find('input').val('0');
                });
                //定制行程人数点击效果
                $('.order-min').on('click', function() {
                    var _num = $('#person-num').val() - 0;
                    _num--;
                    if (_num <= 0) {
                        $(this).siblings('#person-num').val(0);
                        _num = 1;
                    }
                    else {
                        $(this).siblings('#person-num').val(_num);
                    }
                });
                $('.order-add').on('click', function() {
                    var _num = $('#person-num').val() - 0;
                    _num++;
                    $(this).siblings('#person-num').val(_num);
                });
                //定制行程添加城市删除图片显示隐藏
                var count = 1, isOk = false;
                $('.city-section1 input').live('focus', function() {
                    $(this).siblings('i').hide();
                }).live('blur', function() {
                    $(this).siblings('i').show();
                });
                //添加目的地
                $('.add-btn i').on('click', function() {
                    if (count > 5) {
                        $('.add-btn span').html('目前最多只能选择6个目的地').css('margin', '5px 0 0 10px');
                        $('.add-btn i').css('margin', '5px 0 0');
                        $('.city-section1').css('margin-bottom', 20);
                        return false;
                    }
                    isOk = false;
                    $('.city-section1 input').each(function() {
                        if (!$(this).val()) {
                            isOk = true;
                        }
                    });
                    if (isOk) {
                        return false;
                    }
                    addCity();
                    count++;
                });
                //备注文字统计
                $('.remarks-text textarea').bind('propertychange input', function() {
                    len = $(this).val().length;
                    if (len > 501) {
                        $(this).siblings('span').css('color', '#f00');
                        len = 500;
                    }
                    $(this).siblings('span').html('您还可以输入' + (500 - len) + '字');
                });
                //点击删城市
                $('.order-move').live('click', function() {
                    $(this).parent('.city-name').remove();
                    if ($('.city-section1').find('input').length < 6) {
                        $('.add-btn span').html('');
                    }
                    count--;
                });
                $('.order-delt').on('click', function() {
                    $(this).siblings('input').val('');
                });
                //添加城市
                function addCity() {
                    var html = '';
                    html = '<span class="city-name"><input type="text"  required="required" name="area[]"  class="form-control add-city text-overflow" placeholder="输入您想去的地方"><i class="order-move"></i></span>';
                    $('.add-btn').before(html);
                }
                //提交需求开始形成时间日历
                $('#demand-start').datetimepicker({
                    bootcssVer: 3,
                    format: 'yyyy-mm-dd',
                    language: 'zh-CN',
                    weekStart: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 1,
                    linkField: "mirror_start",
                    linkFormat: "yyyy-mm-dd"
                }).on('changeDate', function(ev) {
                    if(changeTime($(this).val())<changeTime(t)){
                        $().popup('不能小于当前时间');
                        $(this).val('');
                        return false;
                    }
                    if (changeTime($(this).val()) > changeTime($('#demand-end').val())) {
                        $().popup('不能大于结束时间');
                        $(this).val('');
                        return false;
                    }
                    if (!$('#demand-end').val()) {
                        $('#demand-end').val($(this).val());
                    }
                });
                //提交需求结束形成时间日历
                $('#demand-end').datetimepicker({
                    bootcssVer: 3,
                    format: 'yyyy-mm-dd',
                    language: 'zh-CN',
                    weekStart: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 1,
                    linkField: "mirror_end",
                    linkFormat: "yyyy-mm-dd"
                }).on('changeDate', function(ev) {
                    if(changeTime($(this).val())<changeTime(t)){
                        $().popup('不能小于当前时间');
                        $(this).val('');
                        return false;
                    }
                    if (changeTime($(this).val()) <changeTime($('#demand-start').val())) {
                        $().popup('不能小于开始时间');
                        $(this).val('');
                        return false;
                    }
                });

                //需求提交表单
                $('#intent-form').submit(function(){
                    var area='';
                    $('.city-name input').each(function() {
                        if ($(this).val()) {
                            area +=$(this).val();
                        }
                    });
                    if(!$('#demand-start').val()||!$('#demand-end').val()||!$('#person-num').val()||!$('#content').val()||!area){
                        $(this).popup('请将信息填写完整再进行提交');
                        return false;
                    }
                    $(this).loading();
                    $.post('/intent/addOlister',$(this).serialize(),function(result){
                        $(this).unload();
                        if(result.code==1000){
                            //window.location.href='/site/demandSuccess/id/'+result.result;
                            $(this).popup("定制成功！");
                        }else{
                            $(this).popup(result.error);
                        }
                    },'json');
                    return false;
                })
            });

    </script>        <!-- 主题 -->
}