
@(area: AreaVo)
@headerfooter{
        <link rel="stylesheet" href="/app/statics/css/computer.css">
        <link rel="stylesheet" href="/app/statics/css/bootstrap-datetimepicker.min.css">
        <style type="text/css">
                .mian-top {
                    display: none !important;
                }
        </style>
    <script>
        $(function () {

            $(".city-section")
        });
    </script>
            <!-- 主题部分 -->
        <div class="banner-bg" style="background: url(https://img.wanzi.cc/images/@Html(area.getAreaImage)) no-repeat;
            background-position: 50% 50%;
            background-size: cover;">
            <div class="contry-title">
                <h2 class="text-center text-color5 font-size5">@Html(area.getAreaName)</h2>
                <p class="text-center text-color5 font-size2"><strong>@area.getGuiderCount</strong>位当地中文向导</p>
            </div>
        </div>
        <div class="main-white">
            <div class="container list-city">
                <div class="filter-section">
                    <div class="row filter-time">
                        <div class="col-sm-2 col-xs-12">
                            <p><strong>行程时间</strong></p>
                        </div>
                        <div class="col-sm-10 col-xs-12">
                            <input type="text" placeholder="开始时间 年/月/日" class="time-select start-time" readonly>
                            <span class="middle-line"></span>
                            <input type="text" placeholder="结束时间 年/月/日" class="time-select end-time" readonly>
                        </div>
                    </div>
                    <div class="row filter-city mobile-city">
                        <div class="col-sm-2">
                            <p><strong>
                                城市</strong><i class="city-line"></i><em class="selected-city"></em><i class="arrow-city"></i></p>
                        </div>
                        <div class="col-sm-10">
                            <div class="city-section">
                                @if(area.getAreaId.equals(area.getCurrentArea)) {
                                    <a href="/site/list/id/@Html(area.getAreaId)" data-id="@Html(area.getAreaId)"><span class="filter-common">
                                        全部</span></a>
                                } else {
                                    <a href="/site/list/id/@Html(area.getAreaId)" data-id="@Html(area.getAreaId)"><span>
                                        全部</span></a>
                                }
                                @for(ar <- area.getChildArea){
                                    @if(ar.getAreaId.equals(area.getCurrentArea)){
                                    <a href="/site/list/id/@Html(ar.getAreaId)" data-id="@Html(ar.getAreaId)"><span class="filter-common">@ar.getAreaName</span></a>
                                    } else {
                                        <a href="/site/list/id/@Html(ar.getAreaId)" data-id="@Html(ar.getAreaId)"><span>@ar.getAreaName</span></a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="other-service">
                        <div class="row filter-city">
                            <div class="col-sm-2">
                                <p><strong>向导服务</strong></p>
                            </div>
                            <div class="col-sm-10">
                                <span rel="all" class="filter-common">全部</span>
                                <span rel="1">徒步</span>
                                <span rel="2">五座车</span>
                                <span rel="5">七座车</span>
                                <span rel="6">九座及以上车</span>
                            </div>
                        </div>
                        <div class="row filter-city">
                            <div class="col-sm-2">
                                <p><strong>接送机服务</strong></p>
                            </div>
                            <div class="col-sm-10">
                                <span rel="all" class="filter-common">全部</span>
                                <span rel="3">徒步</span>
                                <span rel="4">五座车</span>
                                <span rel="7">七座车</span>
                                <span rel="8">九座及以上车</span>
                            </div>
                        </div>
                            <!--				<div class="row filter-city guide-sort">
					<div class="col-sm-2">
						<p><strong>向导排序</strong></p>
					</div>
					<div class="col-sm-10">
						<span class="filter-common">默认排序</span>
						<span>评价数量</span>
					</div>
				</div>-->
                    </div>
                    <span class="list-arrow"></span>
                </div>
            </div>
        </div>
        <div class="main-white">
            <div class="container guide-list" >
                <div class="row" id="service_list">
                </div>
                <p class="text-center loading" style="display: none;" ><img src="/app/statics/images/load.gif" style="display: inline-block;" /></p>
            </div>
            <div class="no-guide container" style="display: none;">
                <img src="/app/statics/images/no-guide.png" alt="" class="no-g">
                <img src="/app/statics/images/no-guidem.png" alt="" class="no-m">
                <h4 class="text-center">没有结果！</h4>
                <div class="no-detail">
                    <p class="text-color1">试着调整您的搜索条件。以下是一些建议：</p>
                    <p class="text-color1">·扩大您的搜索范围，按国家和城市目的地来搜索</p>
                    <p class="text-color1">·提交您的定制旅行，让走走游游专业旅行规划团</p>
                    <p class="text-color1">队为您提供定制服务</p>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <a href="/site/demand" class="list-btn text-center text-color5">定制旅行</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="/" class="list-btn text-center text-color5">跳转到首页</a>
                    </div>
                </div>
            </div>
        </div>
            <!-- 数据加载完成 -->
        <div class="no-data main-white" style="display: none">
            <div>
                <img src="/app/statics/images/no-data.png" alt="" style="display: in-line;">
                <span>已经到底了，不能加载更多啦~</span>
            </div>
        </div>
            <!-- 数据加载完成 -->
        <div class="main-line"></div>
            <!-- 主题部分 -->
        <script src="/app/statics/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/app/statics/js/bootstrap-datetimepicker.zh-CN.js"></script>
        <script>
                $(document).ready(function () {
                    var radio = 3.6;
                    var _width = $(window).width();
                    var time = new Date(), m = time.getMonth() + 1;
                    var t = time.getFullYear() + "-" + m + "-" + time.getDate();
                    $('.banner-bg').css('height', parseInt(_width / radio));
                    var isOk = true, sp = [], data = {
                        id: '@Html(area.getCurrentArea)',
                        p: 1,
                        limit: 9,
                        stime: '',
                        etime: '',
                        sp: '',
                    };
                    getData();
                    $(window).scroll(function () {
                        var viewH = $(this).height(),
                                contentH = $(document).height(),
                                scrollTop = $(this).scrollTop();
                        if (contentH && (contentH - viewH - scrollTop <= 200)) {
                            if (isOk) {
                                data.p++;
                                getData();
                            }
                        }
                    });
                    var timer2 = null;
                    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                        //筛选
                        selectCity();
                    }
                    $('.city-section span').click(function () {
                        $(this).addClass('filter-common').siblings('span').removeClass('filter-common');
                    });
                    $('.other-service .filter-city span').click(function () {
                        isOk = true;
                        if ($(this).index()) {
                            if ($(this).hasClass('filter-common')) {
                                $(this).removeClass('filter-common');
                                for (var i in sp) {
                                    if ($(this).attr('rel') == i) {
                                        sp[$(this).attr('rel')] = 0;
                                    }
                                }
//					sp.splice($(this).attr('rel'),1);
                            } else {
                                $(this).addClass('filter-common');
                                sp[$(this).attr('rel')] = 1;
                            }
//				$(this).hasClass('filter-common')?$(this).removeClass('filter-common'):$(this).addClass('filter-common');
                            $(this).parent().find('span').eq(0).removeClass('filter-common');
                            getData();
                        } else {
                            $(this).addClass('filter-common').siblings('span').removeClass('filter-common');
                            if (!$(this).hasClass('filter-common')) {
                                sp = '';
                                getData();
                            }
                        }
                    });
                    //开始时间选择
                    $('.start-time').datetimepicker({
                        bootcssVer: 3,
                        format: 'yyyy-mm-dd',
                        language: 'zh-CN',
                        weekStart: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        minView: 2,
                        forceParse: 1,
                        linkField: "mirror_start",
                        linkFormat: "yyyy-mm-dd",
                        pickerPosition: "bottom-right"
                    }).on('changeDate', function (ev) {
                        data.stime = $(this).val();
                        if (changeTime($(this).val()) < changeTime(t)) {
                            $().popup('不能小于当前时间');
                            $(this).val('');
                            return false;
                        }
                        if (changeTime($(this).val()) > changeTime($('.end-time').val())) {
                            $().popup('不能大于结束时间');
                            $(this).val('');
                            return false;
                        }
                        if (!$('.end-time').val()) {
                            data.etime = $(this).val();
                            $('.end-time').val($(this).val());
                        }
                        isOk = true;
                        getData();
                    });
                    //结束时间选择
                    $('.end-time').datetimepicker({
                        bootcssVer: 3,
                        format: 'yyyy-mm-dd',
                        language: 'zh-CN',
                        weekStart: 1,
                        autoclose: 1,
                        todayHighlight: 1,
                        startView: 2,
                        minView: 2,
                        forceParse: 1,
                        linkField: "mirror_start",
                        linkFormat: "yyyy-mm-dd",
                        pickerPosition: "bottom-right"
                    }).on('changeDate', function (ev) {
                        data.etime = $(this).val();
                        if (changeTime($(this).val()) < changeTime(t)) {
                            $().popup('不能小于当前时间');
                            $(this).val('');
                            return false;
                        }
                        if (changeTime($(this).val()) < changeTime($('.start-time').val())) {
                            $().popup('不能小于开始时间');
                            $(this).val('');
                            return false;
                        }
                        isOk = true;
                        getData();
                    });

                    //选择城市箭头点击
                    function selectCity() {
                        $('.filter-city span').on('click', function () {
                            $(this).addClass('filter-common').siblings().removeClass('filter-common');
                        });
                        $('.arrow-city').toggle(function () {
                            $(this).addClass('current');
                            $(this).closest('.col-sm-2').siblings('.col-sm-10').find('.city-section').slideUp();
                            $('.city-section span').each(function () {
                                if ($(this).hasClass('filter-common')) {
                                    $('.city-line,.selected-city').show();
                                    $('.selected-city').html($(this).text());
                                }
                            });
                        }, function () {
                            $(this).removeClass('current');
                            $(this).closest('.col-sm-2').siblings('.col-sm-10').find('.city-section').slideDown();
                            $('.city-line,.selected-city').hide();
                            $('.selected-city').html('');
                        });
                        //向导服务、向导排序收起
                        $('.list-arrow').toggle(function () {
                            $('.other-service').slideUp();
                        }, function () {
                            $('.other-service').slideDown();
                        });
                    }

                    function getData() {
                        if (!isOk) {
                            return false;
                        }
                        if (sp) {
                            data.sp = '';
                            for (var i in sp) {
                                if (sp[i]) {
                                    data.sp += i + '-';
                                }
                            }
                        }
                        isOk = false;
                        if (data.p == 1) {
                            $().loading();
                        } else {
                            $('.loading').show();
                        }

                        $.ajax({
                            url: '/service/getServiceList',
                            type: 'POST',
                            dataType: 'json',
                            data: data,
                            success: function (result) {
                                if (data.p == 1) {
                                    $().unload();
                                } else {
                                    $('.loading').hide();
                            }
                                if (result.code == 1000) {
                                    $('.no-guide').hide();
                                    $('.guide-list').show();
                                    isOk = true; 
                                    setHtml(result.result);
                                } else if (result.code == 1005) { 
                                    M
                                    $('.no-guide').show();
                                    $('.guide-list').hide();
                                } else if (result.code = 1001) {
                                    $('.no-data').show();
                                    setTimeout(function () {
                                        $('.no-data').hide();
                                    }, 2000);
                                }
                            }
                        });

                        @**
                                    $.post('/service/getServiceList',data,function(result){
                                        if(data.p==1){
                                            $().unload();
                                        }else{
                                            $('.loading').hide();
                                        }
                        //				console.log(result);
                                        if(result.code==1000){
                                            $('.no-guide').hide();
                                            $('.guide-list').show();
                                            isOk=true;
                                            setHtml(result.result);
                                        }else if(result.code==1005){
                                            $('.no-guide').show();
                                            $('.guide-list').hide();
                                        }else if(result.code=1001){
                                            $('.no-data').show();
                                            setTimeout(function(){
                                                $('.no-data').hide();
                                            },2000);
                                        }
                                        },'json');
                        **@

                    }

                    function setHtml(info) {
                        var html = '';
                        if (info) {
                            for (var i in info) {
                                if (info[i].type == "GUIDER") {
                                    html += '<div class="col-sm-4 col-xs-12"><a href="/site1/detail/id/' + info[i].id + '"><img style="width: 303px; height: 177px" src="/public/upload/images/' + info[i].img_profile + '" alt="" class="guide-img">\
						 <p class="guide-common"><span class="text-overflow font-size2 common-name">' + info[i].name + '</span>\
						 <span class="text-right text-overflow main-color"><strong>CNY ' + info[i].guider_price + '</strong>起</span></p>\
						 <p class="guide-common"><span class="text-overflow">' + info[i].jobtitle + '</span>';
                                    /*if (info[i].ser_rmkc != '0') {
                                        html += '<span class="text-overflow text-right start-section">';
                                        for (var j in info[i].remark) {
                                            html += '<i class="' + info[i].remark[j] + '"></i>';
                                        }
                                        html += ' <span>' + info[i].ser_rmkc + '</span></span>';
                                    }*/
                                    html += '</p><p class="guide-common"><span><i class="lit"></i>' + info[i].city_and_country + '</span></p>';
                                   /* if (info[i].tag) {
                                        html += '<p class="guide-common font-size1 text-color2 text-overflow">';
                                        for (var j in info[i].tag) {
                                            html += ' <span class="guide-tag">' + info[i].tag[j] + '</span>';
                                        }
                                        html += '</p>';
                                    }*/
                                    html += '</a></div>';
                                }
                            }
                            if (html == '') {
                                $('.no-guide').show();
                                $('.guide-list').hide();
                                isOk = false;
                            }
                            if (data.p == 1) {
                                $('#service_list').html(html);
                            } else {
                                $('#service_list').append(html);
                            }
                        }
                    }
                });
        </script>
}
