<link rel="stylesheet" type="text/css" href="/app/statics/css/applys/style.css">
<div class="l">
  <ul class="fix_left">
    <!--<li><a href="/site/applyStep" class="font5 applys_back">返回</a></li>-->
    <li><a href="/registerguider" class="font5" id="_menul_person">@Messages("guider.menul.personal")<span></span></a></li>
    <li><a href="/site/applysPic" class="font5" id="_menul_photo">@Messages("guider.menul.photo")<span></span></a></li>
    <li><a href="/site/applysService" class="font5" id="_menul_intro">@Messages("guider.menul.intro")<span></span></a></li>
    <li><a href="/site/setApplyPrice" class="font5" id="_menul_price">@Messages("guider.menul.price")<span></span></a></li>
    <li><a href="/site/setCalender" class="font5" id="_menul_calender">@Messages("guider.menul.calender")<span></span></a></li>
  </ul>
</div>
