<div class="l">
  <ul class="fix_left">
    <!--<li><a href="/site/applyStep" class="font5 applys_back">返回</a></li>-->
    <li><a href="/setting/myaccount" class="font5" id="_menul_person">@Messages("setting.menul.myaccount")<span></span></a></li>
    <li><a href="/setting/myorders" class="font5" id="_menul_photo">@Messages("setting.menul.myorders")<span></span></a></li>
    <li><a href="/setting/refer" class="font5" id="_menul_intro">@Messages("setting.menul.referal")<span></span></a></li>
    <li><a href="/setting/setting" class="font5" id="_menu_price">@Messages("setting.menul.preference")<span></span></a></li>
  </ul>
</div>
