<div class="l">
  <ul class="fix_left">
    <!--<li><a href="/site/applyStep" class="font5 applys_back">返回</a></li>-->
    <li><a href="/setting/myaccount" class="font5" id="_menul_myaccount">@Messages("setting.menul.myaccount")<span></span></a></li>
    <li><a href="/setting/myorders" class="font5" id="_menul_myorders">@Messages("setting.menul.myorders")<span></span></a></li>
    <li><a href="/setting/refer" class="font5" id="_menul_referral">@Messages("setting.menul.referral")<span></span></a></li>
    <li><a href="/setting/preference" class="font5" id="_menu_preference">@Messages("setting.menul.preference")<span></span></a></li>
  </ul>
</div>
