<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="format-detection" content="telephone=no,email=no" />
	<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <title>支付中心</title>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css">
    <link rel="stylesheet" href="css/zouzou.css" />
    <script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/mui.min.js"></script>
    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>	
    <script type="text/javascript" src="js/zepto.min.js"></script>
	<script type="text/javascript" src="js/datepicker.js"></script>
</head>
<body>
	<header class="title_header clearfix">
	    <div class="back fl"></div>
	    <h2 class="fl">预定</h2>
	    <a href="tel:400-820-8820">
	    	<img src="img/customer_service.svg" />
	    	<p>客服</p>
	    </a>
	</header>
	<!--内容部分开始-->
	<div class="content">
		<!--开始结束日期选择开始-->
		<div class="onfoot_time_titlt pay_sum">
			<div>
				<span class="fl">待支付</span>
				<span class="fr mar016">CNY&nbsp;<span class="fontsize05 the_last_price">4800.00</span></span>
			</div>
		</div>
		<!--添加服务类型开始-->
		<div class="wechat_pay_btn">
			<div class="add_service_btn" onclick="javascript:window.location.href='booking_before.html'">
				<img src="img/wechat.svg" align="middle"/>
				<span>微信支付</span>
			</div>
		</div>		
	</div>
	<!--内容部分结束-->


<script type="text/javascript">
//获取最后的总价
	function getQueryString(name) {                                       
			    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");     
			    var r = window.location.search.substr(1).match(reg);
			    if (r != null) return unescape(r[2]); return null;						
			}
	  var price = getQueryString('sum_price');
	  $(".the_last_price").html(price);
</script>

</body>
</html>



<script>
Zepto(function($) {
        var verifyWrong = function (msg) {
            $(".verify").html(msg).show();
        }
        var verifyPass = function () {
            $(".verify").html("").hide()
        }

        function onBridgeReady(bizData) {
            alert(bizData+":"+bizData.nonceStr);
            WeixinJSBridge.invoke(
                    'getBrandWCPayRequest', {
                        "appId": bizData.appId,
                        "timeStamp": bizData.timeStamp,
                        "nonceStr": bizData.nonceStr,
                        "package": bizData.packages,
                        "signType": bizData.signType,
                        "paySign": bizData.sign
                    },
                    function (res) {
                        //alert(res.err_msg + res.err_desc);
                        if (res.err_msg =="get_brand_wcpay_request:ok") {
                            //alert("ok");
                            //$(".mengchen").hide();
                            #if($!{nextMobile}=='true')
                                window.location.href =            "$!requestTool.getFullUrl(                                    '/v2/concur/addStep2.htm',$request)";
                            #else
                                window.location.href =            "$!requestTool.getFullUrl(                                    '/v2/concur/my.htm',$request)";
                            #end

                        } else if (res.err_msg =="get_brand_wcpay_request:cancel") {
                            history.go(-1);
                        } else if (res.err_msg =="get_brand_wcpay_request:fail") {
                            history.go(-1);
                        }
                    }
            );
        }

        //点击提交数据
        $(".submit").click(function () {
            var postData = $('form').serializeArray();
            //这里错误提示的样式还没给出）
            console.log(postData);

            // postData是你需要提交的信息，
            // ajax写在这里
            //填写资料提交处理
            var fullUrl='$!requestTool.getFullUrl('/order/wechatpay',$request)';
            Zepto.ajax({
                type: 'GET',
                url: fullUrl,
                // data to be added to query string:
                data: postData,
                // type of data we are expecting in return:
                dataType: 'json',
                timeout: 3000,
                context: $('body'),
                success: function (data) {
                console.log(data);
                    if (data.code != "SUCCESS") {
                        verifyWrong(data.desc);
                    } else {
                        var bizData=data.data;
                        if (bizData.result) {
                            //alert(bizData.result+":"+bizData.packages);
                            if (typeof WeixinJSBridge ==            "undefined") {
                                if            (document.addEventListener) {
                                    document.addEventListener('WeixinJSBridgeReady',            onBridgeReady, false);
                                } else if            (document.attachEvent) {
                                    document.attachEvent('WeixinJSBridgeReady',            onBridgeReady);
                                    document.attachEvent('onWeixinJSBridgeReady',            onBridgeReady);
                                }
                            } else {
                                onBridgeReady(bizData);
                            }

                        }  else {
                            verifyWrong("微信支付出错");
                        }
                    }

                },
                error: function (xhr, type) {
                    //alert('Ajax error!')
                    console.error(xhr);

                }
            });
            console.log(postData);
            //back();

        });
    });
</script>

