<link rel="stylesheet" href="/app/statics/css/applys/style.css">
<link rel="stylesheet" href="/app/statics/css/bootstrap-switch.css">

<script src="/app/statics/js/highlight.js"></script>
<script src="/app/statics/js/bootstrap-switch.js"></script>
<script src="/app/statics/js/main.js"></script>

@headerfooter{

<div class="applys clearfix">


  @views.html.menul_setting()
<!--
<div class="l">
		<ul class="fix_left">
		    <li><a class="font5"> <span> 我的帐户</a></span> </li>
		    <li><a class="font5"> <span> 我的订单</a></span> </li>
		    <li><a class="font5"><span> 推荐有奖 </a></span></li>
    		<li><a class="font5 action"><span> 用户设置 </a></span></li>
		</ul>
	</div>
-->
  <div class="r r_box">
     <div class="content">
       <form action="" method="post">
	  <p>
	    <label class="control-label" for="">@Messages("setting.prefer.msg_notification")</label>
	    <input   type="checkbox" checked data-size="mini" id="message switch-size">
	  </p>
	  <p>
	    <label class="control-label" for="">@Messages("setting.prefer.order_notification")</label>
	    <input type="checkbox" checked data-size="mini" id="order switch-size">
	  </p>
	  <br>
	  <br>
	  <p>
	    <button id="refresh" type="button" class="btn btn-info">@Messages("Save")</button>
	  </p>
       </form>
    </div>

	<!--
<div class="onoffswitch">
  <input type="checkbox" name="onoffswitch"
		 class="onoffswitch-checkbox" id="myonoffswitch"
		 checked>
  <label class="onoffswitch-label"
	     for="myonoffswitch"></label>
</div>
-->
	
	<li> </li>
	<li> </li>
  </div>
</div>
}

<style>
  .onoffswitch {
      position: relative; width: 55px;
      -webkit-user-select:none; -moz-user-select:none;
      -ms-user-select: none;
  }
  .onoffswitch-checkbox {
      display: none;
  }
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      height: 20px; padding: 0; line-height: 20px;
      border: 0px solid #FFFFFF; border-radius: 30px;
      background-color: #77c0cd;
  }
  .onoffswitch-label:before {
      content: "";
      display: block; width: 30px; margin: -5px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 31px;
      border-radius: 30px;
      box-shadow: 0 6px 12px 0px #757575;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label {
      background-color: #42A5F5;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label,
      .onoffswitch-checkbox:checked +
      .onoffswitch-label:before {
     border-color: #42A5F5;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label
      .onoffswitch-inner {
      margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label:before
      {
      right: 0px;
      background-color: #2196F3;
      box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
  }
  
</style>
