@* @import java.lang.String; val
ref_link='http://www.izouzou.cc/register?refer=@session.get("userId")'; *@


@(guider:AUser)
@headerfooter{

<link rel="stylesheet" type="text/css" href="/app/statics/css/applys/style.css" >
<link rel="stylesheet" type="text/css" href="/app/statics/css/setting.css">

<script src="/app/statics/js/qrcode.js"></script>

@views.html.pop.referPop.render();

<div class="applys clearfix">
  <div class="l">
	<ul class="fix_left">
		<li><a class="font5"> <span> 我的帐户</a></span> </li>
		<li><a class="font5"> <span> 我的订单</a></span> </li>
		<li><a class="font5 action"><span> 推荐有奖 </a></span></li>
		<li><a class="font5"><span> 用户设置 </a></span></li>
	</ul>
  </div>

  <div class="r r_box">

		<div class="col-sm-12"><h4>二维码推广</h4></div>

		<div id="index-refer-qrcode" class="qrcode col-sm-10">
		</div>
	
		<div class="col-sm-2" style="height:100px">
		    <button type="button" class="btn btn-info btn-right" style="">打印</button> 
		</div>

		
		<div class="col-sm-12">	<p>打印二维码 放到您所在的城市的酒店机场，游客扫码会在导游首页和搜索页看到您哦！</p></div>
	
		  @if(session().get("userType") == "GUIDER"){

		  <div class"col-sm-12"> <h4>分享链接</h4> </div>

		  <div id="user-refer-qrcode" class="qrcode col-sm-10">
		  </div>

		  <div class="col-sm-2" style="" >
			<button class="btn btn-info btn-right" id="_share">分享</button>
		  </div>
		
		  <div class="col-sm-12">
			<p>http://www.izouzou.cc/register?refer=@session().get("userId")</p>
			<p>邀请好友通过以上链接注册，您和您的好友都会得到¥ 100 旅游金 <a href="#">旅游金使用规则</a></p>
		  </div>
		  }
  </div>
</div>

<script>
  var host_name = window.location.host;
  var qrcode1 = new QRCode(document.getElementById('index-refer-qrcode'), {
      text: 'http://'+host_name+'/index?refer='+'@Html(guider.id)',
      colorDark : '#000000',
      colorLight : '#ffffff',
      correctLevel : QRCode.CorrectLevel.H
  });
            var qrcode2 = new QRCode(document.getElementById('user-refer-qrcode'), {
                text: 'http://'+host_name+'/site1/detail/id/'+'@Html(guider.id)',
				colorDark : '#000000',
				colorLight : '#ffffff',
				correctLevel : QRCode.CorrectLevel.H
			});
			$(function(){
//				$(".qrcode img").addClass("img-85");
				$(".qrcode img").css({"height":"85px","width": "85px"});
			});
  

	  $("#_share").click(function(){
	      $(".shade").show();
	  });
	</script>

}
