@* @import java.lang.String; val
ref_link='http://www.izouzou.cc/register?refer=@session.get("userId")'; *@


@(guider:AUser)
@headerfooter{

<link rel="stylesheet" type="text/css" href="/app/statics/css/applys/style.css" >
<link rel="stylesheet" type="text/css" href="/app/statics/css/setting.css">

<script src="/app/statics/js/qrcode.js"></script>
<script src="/app/statics/js/jspdf.min.js"></script>

@views.html.pop.referPop.render()

<div class="applys clearfix">

  @views.html.menul_setting.render() 
<!--  
<div class="l">
	<ul class="fix_left">
		<li><a class="font5" href="/setting/myaccount"> <span> 我的帐户</a></span> </li>
		<li><a class="font5" href="/setting/myorders"> <span> 我的订单</a></span> </li>
		<li><a class="font5 action" href="/setting/refer"><span> 推荐有奖 </a></span></li>
		<li><a class="font5" href="/setting/setting"><span> 用户设置 </a></span></li>
	</ul>
</div>
-->

  <div class="r r_box">

		<div class="col-sm-12"><h4>@Messages("refer.promotion")</h4></div>

		<div id="index-refer-qrcode" class="qrcode col-sm-10">
		</div>
	
		<div class="col-sm-2" style="height:100px">
		    <button type="button" class="btn btn-info btn-right" style="" onclick="printPDF()">@Messages("button.print")</button>
		</div>

		
		<div class="col-sm-12">	<p>@Messages("refer.promotion_msg")</p></div>
	
		  @if(session().get("userType") == "GUIDER"){

		  <div class="col-sm-12"> <h4>@Messages("refer.sharelink")</h4> </div>

		  <div id="user-refer-qrcode" class="qrcode col-sm-10">
		  </div>

		  <div class="col-sm-2" style="" >
			<button class="btn btn-info btn-right" id="_share">@Messages("button.share")</button>
		  </div>
		
		  <div class="col-sm-12">
			<p>http://www.izouzou.cc/register?refer=@session().get("userId")</p>
			<p>@Messages("refer.sharelink_msg") <a href="#">@Messages("refer.terms")</a></p>
		  </div>
		  }
  </div>
</div>

<script>
  var host_name = window.location.host;
  var qrcode1 = new QRCode(document.getElementById('index-refer-qrcode'), {
      text: 'http://'+host_name+'/index?refer='+'@Html(guider.id)',
      colorDark : '#000000',
      colorLight : '#ffffff',
      correctLevel : QRCode.CorrectLevel.H
  });
            var qrcode2 = new QRCode(document.getElementById('user-refer-qrcode'), {
                text: 'http://'+host_name+'/site1/detail/id/'+'@Html(guider.id)',
				colorDark : '#000000',
				colorLight : '#ffffff',
				correctLevel : QRCode.CorrectLevel.H
			});
			$(function(){
//				$(".qrcode img").addClass("img-85");
				$(".qrcode img").css({"height":"85px","width": "85px"});
			});
  

	  $("#_share").click(function(){
	      $(".shade").show();
	  });

@*
  function ImagetoPrint(source) {
  return "<style type='text/css'>#img_profile{height:85px;width:85px;}</style>"+
            "<html><head><script>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</script></head><body onload='step1()'>\n" +
            "<img id='img_profile' src='" + source + "' />" +
            "</body></html>";
  }
*@
	  function printPDF() {
		  var image_data = $("#index-refer-qrcode img").attr("src");
		  var doc = new jsPDF();

		  doc.setTextColor('#6ccff7');
		  doc.setFont('times');
		  doc.setFontType('italic')

		  doc.text(15, 15, '@Messages("print.title")');

		  doc.text(20, 30, '@Messages("print.subtitle")');

		  doc.addImage(image_data, 'PNG', 15, 35, 85, 85);

		  doc.setTextColor('#000000');
		  doc.setFontSize('9');
		  doc.setFont('courier');
		  doc.setFontType('italic');
		  doc.text(25, 125, '@Messages("print.website")   @Messages("print.company") ');
                  doc.save('barcode.pdf');
@*
    Pagelink = "about:blank";
    source='/public/upload/images/@{guider.id}.avatar.cut.png';

    var pwa = window.open(Pagelink, "_new");
    pwa.document.open();
    pwa.document.write(ImagetoPrint(source));
    pwa.document.close();

                  popup = window.open();
                  popup.document.write(ImagetoPrint('/public/upload/images/@{guider.id}.avatar.cut.png'));
                  popup.focus(); //required for IE
                  popup.print();
*@
	  }
	</script>

}
