@* @import java.lang.String; val
ref_link='http://www.izouzou.cc/register?refer=@session.get("userId")'; *@


@(guider:AUser)
@headerfooter{
	
<link rel="stylesheet" type="text/css" href="/app/statics/css/setting.css">
<script src="/app/statics/js/qrcode.js"></script>

<div class="applys clearfix">
  <div class="l">
	<ul class="fix_left">
		<li><a class="font5"> <span> 我的帐户</a></span> </li>
		<li><a class="font5"> <span> 我的订单</a></span> </li>
		<li><a class="font5 action"><span> 推荐有奖 </a></span></li>
		<li><a class="font5"><span> 用户设置 </a></span></li>
	</ul>
  </div>

  <div class="r">
	<div class="section">

	  <strong>打印推广</strong>
		<div id="index-refer-qrcode" class="qrcode">
		<p>打印二维码 放到您所在的城市的酒店机场，游客扫码会在导游首页和搜索页看到您哦！</p>
		</div>
	
		<div class="">
		<button type="button" class="btn btn-info ">打印</button> 
		</div>
	</div>
	
	<div class="section">
		@if(session().get("userType") == "GUIDER"){
		<div id="user-refer-qrcode" class="qrcode">
		  <img src="#" class="img-85">
		</div>

		<strong>分享链接</strong>
		<p>http://www.izouzou.cc/register?refer=@session().get("userId")</p>
		<p>通过以上链接注册，您和您的好友都会得到¥ 100 旅游金<a href="#">旅游金使用规则</a> </p>
		<button class="btn btn-info">立即分享</button>
		}
	</div>

  </div>
</div>
	<script>
		var host_name = window.location.host;
			var qrcode1 = new QRCode(document.getElementById('index-refer-qrcode'), {
				text: 'http://'+host_name+'/index?refer='+'@Html(guider.id)',
				colorDark : '#000000',
				colorLight : '#ffffff',
				correctLevel : QRCode.CorrectLevel.H
			});
			var qrcode2 = new QRCode(document.getElementById('user-refer-qrcode'), {
				text: 'http://'+host_name+'/site1/detail/id/'+'@Html(guider.id)',
				colorDark : '#000000',
				colorLight : '#ffffff',
				correctLevel : QRCode.CorrectLevel.H
			});
			$(function(){
				$(".qrcode img").addClass("img-85");
			})
	</script>

}
